@import url("https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap");
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  position: relative;
  background-color: #edf2f6;
  /* overflow: hidden; */
}
header {
  position: fixed;
  font-size: 1.9rem;
  width: 120%;
  height: 7.5rem;
  top: 0rem;
  left: -2rem;
  box-shadow: 1px 5px 8px -6px #54545493;
  display: flex;
  align-items: center;
  z-index: 1000;
  background-color: #fdfdfd;
}
.navigation {
  padding-left: 30rem;
}
.navigation ul {
  display: flex;
  list-style: none;
}
.navigation ul li {
  margin-right: 7rem;
}
.navigation ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: color 0.1s linear;
}
.navigation ul li a:hover {
  color: #ff4b33;
}

#content {
  margin-top: 12rem;
}
#heading {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-image {
  width: 56rem;
  height: 32rem;
  z-index: -1;
}
.heading-title {
  margin-top: 10rem;
  text-align: left;
  width: 45rem;
}
.heading-title h3 {
  font-family: "Lekton", sans-serif;
}
.threePost {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 45rem);
  margin: 10rem 20rem 0 20rem;
}
.flowtow-1 {
  grid-column: 1/2;
}
.flowtow-2 {
  grid-column: 2/3;
}
.flowtow-3 {
  grid-column: 3/4;
}
.flowtow {
  width: 100%;
  position: relative;
  cursor: pointer;
}
.flowtow::before {
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 83%)
    repeat scroll 0 0;
  border-radius: 6px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.flowtow-image {
  height: 100%;
  width: 100%;
  border-radius: 0.6rem;
}
.flowtow-info {
  position: absolute;
  color: white;
  top: 33rem;
  left: 2rem;
  font-size: 1.5rem;
  width: 100%;
}
.flowtow-user {
  display: flex;
  align-items: center;
}
.flowtow-author {
  font-size: 1.7rem;
}
.flowtow-liked {
  display: flex;
  align-items: center;
}
.flowtow-heart {
  color: #ff4b33;
  font-size: 3rem;
  cursor: pointer;
  margin-right: 1rem;
}
.flowtow-liked p {
  font-size: 2rem;
}
.flowtow-time {
  margin: 0 5rem 0 auto;
}

.rePost {
  margin: 10rem 20rem 0 20rem;
  background-color: white;
  padding: 3rem 3rem;
  border-radius: 8px;
}
.recentPost-image {
  cursor: pointer;
  display: block;
  overflow: hidden;
  width: 30rem;
  height: 30rem;
}
.rePost-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  column-gap: 4rem;
  row-gap: 2rem;
}
.recentPost-image img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0.8rem;
}
.recentPost-image {
  position: relative;
  /* transition: all .2s linear; */
}
.recentPost-image::before {
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 83%)
    repeat scroll 0 0;
  border-radius: 6px;
  opacity: 0;
  content: "";
  height: 99%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.2s linear;
}
.recentPost-image:hover::before {
  opacity: 1;
}
.rePost-title {
  border-bottom: 1px solid rgb(214, 214, 214);
  margin-bottom: 2.5rem;
  padding-bottom: 1.25rem;
  font-size: 2rem;
  font-family: "Lekton", sans-serif;
  position: relative;
}
.rePost-title::before {
  content: "";
  width: 0.5rem;
  height: 100%;
  background-color: #ff4b33;
  position: absolute;
  top: -0.7rem;
  left: -3rem;
}
.recentPost-caption {
  font-family: "Lekton", sans-serif;
  margin: 0.9rem 0 0.3rem ;
}

.recentPost-liked {
  display: flex;
  align-items: center;
}
.recentPost-liked p {
  font-size: 1.5rem;
}
.recentPost-author {
  margin-bottom: 0.5rem;
  font-weight: 400;
}
.recentPost-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recentPost-heart {
  border: none;
  font-size: 2.5rem;
  background-color: white;
  color: #ff4b33;
  margin-right: 0.5rem;
  outline: none;
  cursor: pointer;
}
.recentPost-time {
  font-size: 1.3rem;
}

/* Popular Post */
.poPost {
  margin: 10rem 20rem 0 20rem;
  background-color: white;
  padding: 3rem 3rem;
  border-radius: 8px;
}
.popularPost-image {
  cursor: pointer;
}
.poPost-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
  row-gap: 2rem;
}
.popularPost img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0.8rem;
}
.popularPost-image {
  position: relative;
  width: 30rem;
  height: 30rem;
   cursor: pointer;
  display: block; 

  /* transition: all .2s linear; */
}
.popularPost-image::before {
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 83%)
    repeat scroll 0 0;
  border-radius: 6px;
  opacity: 0;
  content: "";
  height: 99%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.2s linear;
}
.popularPost-image:hover::before {
  opacity: 1;
}
.poPost-title {
  border-bottom: 2px solid rgb(214, 214, 214);
  margin-bottom: 2.5rem;
  padding-bottom: 1.25rem;
  font-size: 2rem;
  font-family: "Lekton", sans-serif;
  position: relative;
}
.poPost-title::before {
  content: "";
  width: 0.5rem;
  height: 100%;
  background-color: #ff4b33;
  position: absolute;
  top: -0.7rem;
  left: -3rem;
}
.popularPost-caption {
  font-family: "Lekton", sans-serif;
  margin: 0.9rem 0 0.3rem ;
}

.popularPost-liked {
  display: flex;
  align-items: center;
}
.popularPost-liked p {
  font-size: 1.5rem;
}
.popularPost-author {
  margin-bottom: 0.5rem;
  font-weight: 400;
}
.popularPost-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popularPost-heart {
  border: none;
  font-size: 2.5rem;
  background-color: white;
  color: #ff4b33;
  margin-right: 0.5rem;
  outline: none;
  cursor: pointer;
}
.popularPost-time {
  font-size: 1.3rem;
}

/* About */
.about {
    margin-top: 5rem;
  padding: 12.8rem 0;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ff4b33 0%, #f2295b 100%);
  text-align: center;
  font-size: 2.5rem;
  color: whitesmoke;
}

footer{
    background-color: #2b2b2d;
}
.footer-wrap{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 2rem;
}
.social ul{
    list-style: none;
    display: flex;
    margin-left: 35rem;
}
.social ul li a{
    color: white;
    text-decoration: none;
    margin-right: 5rem;
}
.footer-tos{
    list-style: none;
    display: flex;
    margin-right: 35rem;
}
.footer-tos li a{
    color: white;
    text-decoration: none;
    margin-left: 5rem;
}

#copyright{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}


/* style for single Post */
.showPost{
  width: 100%;
  margin: 8rem auto 0 auto;  
}
.showPost-image img{
  display: block;
  margin: 0 auto 1.3rem auto;
  width: 90rem;
  height: 50rem;
  border-radius: .7rem;
}
.showPost-feature{
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.showPost-liked{
  margin-left: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showPost-liked button{
  border: none;
  margin-right: 1rem;
  font-size: 2rem;
  color: #ff4b33;
  cursor: pointer;
}
.showPost-liked p{
  color: gray;
}
.showPost-comment{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0 4rem;
  color: gray;
}
.showPost-comIcon{
  font-size: 2rem;
  margin-right: 1rem;
}
.showPost-date{
  margin-right: 45rem;
  color: gray;
}

.showPost-title{
  margin-left: 45rem;
  font-size: 2.5rem;
}
.showPost-commentContainer{
  margin: 2rem 42.5rem 0 42.5rem;
  background-color: white;
  border-radius: .6rem;
  padding: 2rem;
}
.showPost-commentTitle{
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-bottom: .5rem;
  font-weight: 400;
  color: gray;
}

.showPost-comContent{
  margin-top: 1.5rem;
  list-style: none;
  padding-left: 2rem;
  font-size: 1.5rem;
  height: 40rem;
  overflow: scroll;
}
.showPost-comContent li{
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(207, 207, 207);
  padding-bottom: 2rem;
}
.showPost-form{
  margin: 2rem 0 0 42.5rem;
  display: flex;
  align-items: center;
}
.showPost-form .textInput{
  width: 80rem;
  padding: 1.5rem 2rem;
  border-radius: .6rem;
  border: none;
  font-size: 1.5rem;
  outline: none;
  margin-right: 1.5rem;
}
.showPost-form .buttonInput{
  padding: 1.7rem 3rem; 
  border:none;
  background-color: white;
  border-radius: .6rem;
  font-size: 1.5rem;
  color: gray;
  cursor: pointer;
}
.showPost-author{
  margin-left: 45rem;
  font-size: 1.7rem;
  color: gray;
}
.like{
  display: flex;
  align-items: center;
  justify-content: center;
}
.like p{
  /* display: inline-block; */
  margin-left: 0.5rem;
}