@import url("https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap");
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  position: relative;
  background-color: #edf2f6;
  overflow-x: hidden;
}
header {
  margin: 1.5rem auto 0 auto;
  width: 130rem;
   display: flex;
  align-items: center; 
  justify-content: space-between
}
.header-wrapper{
  position: fixed;
  font-size: 1.9rem;
  width: 102%;
  height: 7.5rem;
  top: 0rem;
  left: -2rem;
  box-shadow: 1px 5px 8px -6px #54545493;
  z-index: 1000;
  background-color: #fdfdfd;
}

.navigation {
  /* padding-left: 30rem; */
}
.navigation ul {
  display: flex;
  list-style: none;
}
.navigation ul li {
  margin-right: 7rem;
}
.navigation ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: color 0.1s linear;
}
.navigation ul li a:hover {
  color: #ff4b33;
}

#content {
  margin-top: 12rem;
}
#heading {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-image {
  width: 56rem;
  height: 32rem;
  z-index: -1;
}
.heading-title {
  margin-top: 10rem;
  text-align: left;
  width: 45rem;
}
.heading-title h3 {
  font-family: "Lekton", sans-serif;
}
.threePost {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 45rem);
  margin: 10rem 20rem 0 20rem;
}
.flowtow-1 {
  grid-column: 1/2;
}
.flowtow-2 {
  grid-column: 2/3;
}
.flowtow-3 {
  grid-column: 3/4;
}
.flowtow {
  width: 100%;
  position: relative;
  cursor: pointer;
}
.flowtow::before {
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 83%)
    repeat scroll 0 0;
  border-radius: 6px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.flowtow-image {
  height: 100%;
  width: 100%;
  border-radius: 0.6rem;
}
.flowtow-info {
  position: absolute;
  color: white;
  top: 33rem;
  left: 2rem;
  font-size: 1.5rem;
  width: 100%;
}
.flowtow-user {
  display: flex;
  align-items: center;
}
.flowtow-author {
  font-size: 1.7rem;
}
.flowtow-liked {
  display: flex;
  align-items: center;
}
.flowtow-heart {
  color: #ff4b33;
  font-size: 3rem;
  cursor: pointer;
  margin-right: 1rem;
}
.flowtow-liked p {
  font-size: 2rem;
}
.flowtow-time {
  margin: 0 5rem 0 auto;
}

.rePost {
  margin: 10rem auto 0 auto;
  width: 140rem;
  background-color: white;
  padding: 3rem 3rem;
  border-radius: 8px;
}
.recentPost-image {
  cursor: pointer;
  display: block;
  overflow: hidden;
  width: 30rem;
  height: 30rem;
}
.rePost-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
  row-gap: 2rem;
}
.recentPost-image img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0.8rem;
}
.recentPost-image {
  position: relative;
  /* transition: all .2s linear; */
}
.recentPost-image::before {
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 83%)
    repeat scroll 0 0;
  border-radius: 6px;
  opacity: 0;
  content: "";
  height: 99%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.2s linear;
}
.recentPost-image:hover::before {
  opacity: 1;
}
.rePost-title {
  border-bottom: 1px solid rgb(214, 214, 214);
  margin-bottom: 2.5rem;
  padding-bottom: 1.25rem;
  font-size: 2rem;
  font-family: "Lekton", sans-serif;
  position: relative;
}
.rePost-title::before {
  content: "";
  width: 0.5rem;
  height: 100%;
  background-color: #ff4b33;
  position: absolute;
  top: -0.7rem;
  left: -3rem;
}
.recentPost-caption {
  font-family: "Lekton", sans-serif;
  margin: 0.9rem 0 0.3rem;
}

.recentPost-liked {
  display: flex;
  align-items: center;
}
.recentPost-liked p {
  font-size: 1.5rem;
}
.recentPost-author {
  margin-bottom: 0.5rem;
  font-weight: 400;
}
.recentPost-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recentPost-heart {
  border: none;
  font-size: 2.5rem;
  background-color: white;
  color: #ff4b33;
  margin-right: 0.5rem;
  outline: none;
  cursor: pointer;
}
.recentPost-time {
  font-size: 1.3rem;
}

/* Popular Post */
.poPost {
  margin: 10rem auto 0 auto;
  width: 140rem;
  background-color: white;
  padding: 3rem 3rem;
  border-radius: 8px;
}
.popularPost-image {
  cursor: pointer;
}
.poPost-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
  row-gap: 2rem;
}
.popularPost img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0.8rem;
}
.popularPost-image {
  position: relative;
  width: 30rem;
  height: 30rem;
  cursor: pointer;
  display: block;

  /* transition: all .2s linear; */
}
.popularPost-image::before {
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 83%)
    repeat scroll 0 0;
  border-radius: 6px;
  opacity: 0;
  content: "";
  height: 99%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.2s linear;
}
.popularPost-image:hover::before {
  opacity: 1;
}
.poPost-title {
  border-bottom: 2px solid rgb(214, 214, 214);
  margin-bottom: 2.5rem;
  padding-bottom: 1.25rem;
  font-size: 2rem;
  font-family: "Lekton", sans-serif;
  position: relative;
}
.poPost-title::before {
  content: "";
  width: 0.5rem;
  height: 100%;
  background-color: #ff4b33;
  position: absolute;
  top: -0.7rem;
  left: -3rem;
}
.popularPost-caption {
  font-family: "Lekton", sans-serif;
  margin: 0.9rem 0 0.3rem;
}

.popularPost-liked {
  display: flex;
  align-items: center;
}
.popularPost-liked p {
  font-size: 1.5rem;
}
.popularPost-author {
  margin-bottom: 0.5rem;
  font-weight: 400;
}
.popularPost-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popularPost-heart {
  border: none;
  font-size: 2.5rem;
  background-color: white;
  color: #ff4b33;
  margin-right: 0.5rem;
  outline: none;
  cursor: pointer;
}
.popularPost-time {
  font-size: 1.3rem;
}

/* About */
.about {
  margin-top: 5rem;
  width: 105%;
  padding: 12.8rem 0;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ff4b33 0%, #f2295b 100%);
  text-align: center;
  font-size: 2.5rem;
  color: whitesmoke;
}

footer {
  width: 105%;
  background-color: #2b2b2d;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding: 2rem;
}
.social ul {
  list-style: none;
  display: flex;
  margin-left: 35rem;
}
.social ul li a {
  color: white;
  text-decoration: none;
  margin-right: 5rem;
}
.footer-tos {
  list-style: none;
  display: flex;
  margin-right: 35rem;
}
.footer-tos li a {
  color: white;
  text-decoration: none;
  margin-left: 5rem;
}

#copyright {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

/* style for single Post */
.showPost {
  width: 100%;
  margin: 8rem auto 0 auto;
}
.showPost-image img {
  display: block;
  margin: 0 auto 1.3rem auto;
  width: 90rem;
  height: 100%;
  border-radius: 0.7rem;
}
.showPost-feature {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  width: 92rem;
  margin: 0 auto;
}
.showPost-liked {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showPost-liked button {
  border: none;
  margin-right: 1rem;
  font-size: 2rem;
  color: #ff4b33;
  cursor: pointer;
}
.showPost-liked p {
  color: gray;
}
.showPost-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0 4rem;
  color: gray;
}
.showPost-comIcon {
  font-size: 2rem;
  margin-right: 1rem;
}
.showPost-date {
  margin-right: 2rem;
  color: gray;
}

.showPost-title {
  display: block;
  width: 89rem;
  margin: 0 auto;
  font-size: 2.5rem;
}
.showPost-commentContainer {
  margin: 2rem auto 0 auto;
  width: 92rem;
  background-color: white;
  border-radius: 0.6rem;
  padding: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.showPost-commentTitle {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-bottom: 0.5rem;
  font-weight: 400;
  color: gray;
}

.showPost-comContent {
  margin-top: 1.5rem;
  list-style: none;
  padding-left: 2rem;
  font-size: 1.5rem;
  height: 40rem;
  overflow: scroll;
}
.showPost-comContent li {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(207, 207, 207);
  padding-bottom: 2rem;
}
.showPost-comContent__author {
  color: gray;
  margin-bottom: 0.5rem;
}
.showPost-comContent__date {
  color: gray;
  display: block;
  text-align: right;
  margin-right: 2rem;
}
.showPost-form {
  width: 93rem;
  margin: 2rem auto 0 auto;
  display: flex;
  align-items: center;
}
.showPost-form .textInput {
  width: 80rem;
  padding: 1.5rem 2rem;
  border-radius: 0.6rem;
  border: none;
  font-size: 1.5rem;
  outline: none;
  margin-right: 1.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.showPost-form .buttonInput {
  padding: 1.7rem 3rem;
  border: none;
  background-color: white;
  border-radius: 0.6rem;
  font-size: 1.5rem;
  color: gray;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.showPost-author {
  display: block;
  width: 89rem;
  margin: 0 auto;
  font-size: 1.7rem;
  color: gray;
}
.Like {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Like p {
  /* display: inline-block; */
  margin-left: 0.5rem;
}

/* authentication form */
.auth-form {
  font-size: 1.5rem;
  color: gray;
}
.auth-form .username,
.auth-form .password {
  margin-right: 0.5rem;
}
.auth-form #auth-username,
.auth-form #auth-password {
  border: solid 0.5px rgb(192, 192, 192);
  padding: 1rem 1.2rem;
  font-size: 1.2rem;
  border-radius: 0.7rem;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
  margin-right: 2rem;
}
.auth-user {
  display: flex;
  align-items: center;
  margin-left: 35rem;
  font-size: 1.5rem;
  font-family: "Lekton", sans-serif;
}
.auth-user h2 {
  margin-right: 2rem;
}
.auth-logout {
  padding: 0.7rem 1.5rem;
  border: solid 0.5px rgb(192, 192, 192);
  background-color: white;
  border-radius: 0.6rem;
  font-size: 1.3rem;
  color: gray;
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
  cursor: pointer;
}
.auth-error {
  position: absolute;
  font-size: 1rem;
  color: red;
  left: 95rem;
  top: 5.5rem;
}

.auth-btn {
  padding: 1rem 1.5rem;
  border-radius: 6px;
  background-color: white;
  border: solid 0.5px rgb(192, 192, 192);
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
  font-size: 1.2rem;
  color: gray;
  cursor: pointer;
}

/* ALl post  */
.allPost,
.myPost {
  margin: 10rem 0 0 35rem;
}
.allPost img,
.myPost img {
  width: 47rem;
  height: 38rem;
  border-radius: 0.7rem;
  margin-right: 3rem;
  position: relative;
}
.allPost-card a,
.myPost-card a {
  position: relative;
}
.allPost-card a::before,
.myPost-card a::before {
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 83%)
    repeat scroll 0 0;
  border-radius: 6px;
  opacity: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 94%;
  z-index: 10;
  transition: all 0.2s linear;
}
.allPost-card a:hover::before,
.myPost-card a:hover::before {
  opacity: 1;
}
.allPost-card,
.myPost-card {
  display: flex;
  margin-bottom: 3rem;
}
.allPost-card__info,
.myPost-card__info {
  width: 60rem;
}
.allPost-card__feature,
.myPost-card__feature {
  display: flex;
  align-items: center;
  color: gray;
  margin-bottom: 0.7rem;
}
.allPost-card_delete {
  padding: 1rem 1.2rem;
  font-size: 1.4rem;
  color: white;
  background-color: #ff4b33;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
}
.allPost-card__like,
.myPost-card__like {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}
.allPost-card__like button,
.myPost-card__like button {
  border: none;
  font-size: 2.3rem;
  color: #ff4b33;
  margin-right: 0.5rem;
  cursor: pointer;
}
.allPost-card__like p,
.myPost-card__like p {
  font-size: 1.5rem;
  color: gray;
}
.allPost-card__comment,
.myPost-card__comment {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.allPost-comIcon,
.myPost-comIcon {
  font-size: 2.3rem;
  color: gray;
  margin-right: 0.5rem;
}
.allPost-card__comment p,
.myPost-card__comment p {
  font-size: 1.5rem;
  color: gray;
}
.allPost-card__author,
.myPost-card__author {
  font-size: 1.5rem;
  margin-right: auto;
}
.allPost-card__date,
.myPost-card__date {
  font-size: 1.5rem;
  margin-right: 1rem;
}
.allPost-card__caption {
  font-family: "Lekton", sans-serif;
  font-weight: 600;
  color: gray;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.allPost-card__commentContainer,
.myPost-card__commentContainer {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
}
.allPost-commentTitle,
.myPost-commentTitle {
  color: gray;
  font-weight: 200;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(218, 218, 218);
  position: relative;
}
.allPost-commentTitle::after,
.myPost-commentTitle::after {
  content: "";
  background-color: #ff4b33;
  width: 2px;
  height: 3rem;
  position: absolute;
  top: -4px;
  left: -13px;
}
.allPost-comContent,
.myPost-comContent {
  padding-top: 1rem;
  height: 25rem;
  list-style: none;
  font-size: 1.5rem;
  overflow: scroll;
}
.allPost-comContent li,
.myPost-comContent li {
  margin-bottom: 1rem;
}

/* My Post */
.myPost-error {
  margin-top: 6rem;
  background-color: white;
  padding: 10rem 0;
}
.myPost-error h2 {
  text-align: center;
  font-size: 4rem;
  font-family: "Lekton", sans-serif;
  color: gray;
}

/* My Post Form */
.myPostForm {
  width: 70rem;
  margin: 8rem auto -4rem auto;
  color: gray;
  font-size: 2rem;
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
}
.myPostForm-title {
  font-family: "Lekton", sans-serif;
  color: #ff4b33;
  text-align: center;
}
.form-caption {
  margin-bottom: 1rem;
}
.form-caption textarea {
  width: 100%;
  height: 10rem;
  border-radius: 0.6rem;
  padding: 1rem;
  border: solid 0.5px rgb(192, 192, 192);
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.form-image {
  margin-bottom: 1rem;
}
.form-image label {
  display: block;
  margin-bottom: 0.5rem;
}
.form-image input {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
  border: solid 0.5px rgb(192, 192, 192);
}
.myPostForm .form_submit {
  padding: 1rem;
  border: solid 0.5px rgb(192, 192, 192);
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
  background-color: white;
  border-radius: 0.7rem;
  font-size: 1.2rem;
  color: gray;
  cursor: pointer;
}
.myPostForm .form-file {
  margin-bottom: 1.5rem;
}
.myPostForm .form-file label {
  margin-bottom: 0.5rem;
  display: block;
}
.myPostForm .form-file input::file-selector-button {
  color: white;
  display: inline-block;
  background: #ff4b33;
  border: none;
  padding: 7px 15px;
  font-weight: 700;
  border-radius: 6px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 10pt;
}
